<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="ISO-8859-1">
<title>Book Page</title>
</head>
<body>

	<div class="container" layout:fragment="content">

		<h2>Book List</h2>
		<hr />

		<a class="btn btn-primary" href="/book/addbook">Add Book</a>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>PublishDate</th>
					<th>Author</th>
					<th>Page</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody th:each="book: ${books}">
				<tr>
					<td th:text="${book.id}">1</td>
					<td th:text="${book.title}">A</td>
					<td th:text="${book.publishDate}"></td>
					<td th:text="${book.page}">
					<td><img th:src="${book.coverImage}" /></td>
					<td><a class="btn btn-success"
						th:href="@{/book/{id}(id=${book.id})}">Detail!</a>

						<form th:action="@{/book/remove(id=${book.id})}" method="post">
							<input class=".btn-md btn btn-danger" type="submit" value="Delete" />
						</form> <!-- <a th:href="@{/book/remove(id=${book.id})}">Remove</a> --> <a
						class="btn btn-warning" th:href="@{/book/edit(id=${book.id})}">  Edit...!  </a></td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
<th:block layout:fragment="myScript">
	<script>
		alert("Welcome to Book Store!");
	</script>
</th:block>
</html>